.content {
  padding: clamp(2rem, 10vw, 40rem);
  line-height: 1.65;
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  min-height: 80dvh;
}

.content h2 {
  font-size: clamp(3rem, 5vw, 4rem);
  margin-bottom: 1em;
}

.content h3 {
  font-size: clamp(2rem, 4vw, 3rem);
  margin-top: 1.5em;
}

.content section p {
  margin: 1em 0;
}
